
img:hover {
    opacity: 0.5;
    transition: all 500ms ease-in-out;
}
img {
    transition: all 500ms ease-in-out;
}

.sobre {
    text-align: center;
    padding: 2.5rem;
    position: relative;
    top: -50px;
}

.sobre__titulo {
    color: rgba(0,184,178,255);
    font-family: Pacifico, cursive;
    font-size: 3.19rem;
}

.sobre__descricao {
    color: #595959;
    font-size: 1.75rem;
    font-weight: 100;
    margin-bottom: 0px;
}


.tenis-container {
    background: rgba(218,229,232,255);

    display: flex;
    flex-wrap: wrap;

    padding: 5rem 5rem 5rem 5rem;

    justify-content: space-around;

}

.tenis {
    justify-content: space-between;
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-right: 5rem;
    width: 15%;
    height: 520px;
}

.tenis:nth-child(3) {
    margin-right: 0;
}

.tenis__imagem {
    height: 200px;
}

.tenis__titulo {
    font-size: 1.4rem;
    text-align: center;
}

.tenis__descricao {
    font-size: 1.18rem;
    line-height: 1.5;
    text-align: justify;
}

.tenis__conteudo {
    padding: 1.5rem;
}
.tenis__botao {
    background: rgba(72,69,60,255);
    border: none;
    border-radius: 5px;
    color: rgba(218,229,232,255);
    padding: 1rem;
    align-items: center;
    width: 100%;
    transition: all 400ms ease-in-out;
}

.tenis__botao:hover {
    cursor: pointer;
    background: rgba(218,229,232,255);
    font-size: 17px;
    color: rgba(72,69,60,255);
}
/* quem somos */
.quem-somos__titulo {
    margin-bottom: 1rem;
    color: rgba(72,69,60,255);
    font-size: 3.1875rem;
    font-family: Pacifico, cursive;
}

.quem-somos {
    text-align: center;
    padding: 5rem;

    background: rgba(218,229,232,255);
}

.quem-somos__descricao {
    font-weight: 100;
    font-size: 1.75rem;
    color:  rgba(72,69,60,255);

}

.pessoa {
    display: flex;
    flex-direction: column;
}

.pessoa__nome {
    margin: 1rem 0;
    font-family: Pacifico, cursive;
    color: rgba(72,69,60,255);
    font-size: 2rem;
}

.pessoa__funcao {
    color: #595959;
    font-size: 1.25rem;
}

.pessoas {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}

.pessoa__imagem {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%; 
}

.pessoa__imagem--patrick {
    background-image: url('');
    
}

.pessoa__imagem--isis {
    background-image: url('');
}

.pessoa__imagem--mari {
    background-image: url('');
}
